{% extends 'base.html.twig' %}

{% block body %}
    {% include 'partials/navbar.html.twig' %}
    <div class="d-flex justify-content-center">
        <h1 class="d-flex">Dit is de settings pagina</h1>
    </div>
{% endblock %}
