{% extends 'base.html.twig' %}

{% block body %}
{% include 'partials/navbar.html.twig' %}

<div class="container">
    <div class="row pt-5">
        <div class="card w-100">
            <div class="card_head">
                <h3 class="card_title">Document uploaden</h3>
            </div>
            <div class="card_body">
                {{ form(form) }}
            </div>

        </div>

    </div>
</div>

{% endblock %}