.navbar {
    position: absolute;
    top: 0;
    width: 100%;
}
.breadcrumb { margin-top: 1rem; }
.row {margin-left: 0; margin-right: 0;}

.content {padding-top: 50px;}

#documenten {
    background: white;
    display: flex;
    padding: 40px;
}
#documentContainer {
    background: white;
}
#pdfContainer {
    width: 100%;
    outline: 1px solid black;
    background: darkgrey;
}
#historyContainer { margin-top: 25px; }
#filterContainer {
    margin-right: 50px;
    padding: 10px;
    background: #f2f2f2;
}
#filterContainer hr { margin-top: 0.5rem; margin-bottom: 0.5rem; }

.filterOption ul { margin-bottom: 0; }
.filterOption { font-size: 13px; }
.filterOption h4 {
    font-size: 13px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.filterOption h5{
    font-size: 13px;
}


#listing { width: 100%;}
#listing td { padding: 10px 5px;}

#removeFilters {width: 100%;}


/**
 * Location CSS
 */
.card.location {
    display: flex;
    flex-direction: row;
    padding: 20px 25px 30px;
}
.locationText { flex-grow: 1; padding-left: 15px;}
.locationImage {
    height: 200px;
    width: 200px;
    background: grey;
    display: inline-block;
}

.buildingContainer {
    background: #f7f7f7;
}
.subfilter {
    margin-left: 10px;
}
