/*
 * Specific styles of signin component
 */
:root {
    --nav-size: 50px;
    --bt-drak: #2a2a2e;
    --bg-light: #e3e7ed;
    --bg_light_blue: #F5F7FB;
    --yellow: #f6be00;
    --antraciet: #3f4444;
    --title: #666666;
}
/*
 * General styles
 */
body, html {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: var(--bg_light_blue);
    padding-top: var(--nav-size);
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}
hr { color: rgba(0, 40, 100, 0.12); }

h2 {
    color: rgb(73, 80, 87);
    font-size: 1.75rem;
    font-weight: 600;
}
h3 {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}
h4 {
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}

label, .small_bold {
    margin-bottom: .375rem;
    font-weight: 600;
    font-size: 1rem;
}

background {
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
}

/*
 * Navbar
 */
.navbar { height: var(--nav-size) }
.navbar .username { color: ghostwhite; }

/*
 * Card component
 */
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
    margin: 0 auto 25px;
    margin-top: 50px;
}

.card-container.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;

}

.card .card_head {border-bottom: 1px solid rgba(0, 40, 100, 0.12)}
.card .card_head, .card .card_body {
    padding: 20px;
    color: #666666;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
}
.breadcrumb { margin-top: 1rem; }
.row {margin-left: 0; margin-right: 0;}

.content {padding-top: 50px;}

/**
 * Location CSS
 */
.location {margin-top: 1rem; }
.location:first-child { margin-top: 0; }

.buildingContainer {
    background: #f7f7f7;
    display: none;
}
.building {
    padding: 10px;
}

/**
 * Documents page
 */
#documenten {
    background: white;
    display: flex;
    padding: 40px;
}
#documentContainer {
    background: white;
}
#pdfContainer {
    width: 100%;
    outline: 1px solid black;
    background: darkgrey;
}
#historyContainer { margin-top: 25px; }
#filterContainer {
    margin-right: 50px;
}
#filterContainer hr { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.filterOption {
    font-size: 13px;
    background: #f2f2f2;
}
.filterOption ul { margin-bottom: 0; }
.filterOption ul label { cursor: pointer; }
.filterOption input:checked { background: red; }
.filterOption h4 {
    font-size: 13px;
    font-weight: bold;
    background: #e6e6e6;
    padding: 10px;
    margin: 1rem 0;
}
.filterOption h5{
    font-size: 13px;
    cursor: pointer;
}
.filterOption > *
{
    margin-left: 10px;
    margin-right: 10px;
}
.subgroupTitle {
    display: block;
    font-weight: bold;
    padding-bottom: 10px;
    opacity: 0.7;
    cursor: pointer;
}
.toggleBtn::after{
    background: url("/web/img/arrow_black.svg") no-repeat center/6px 10px;
    display: block;
    user-select: none;
    font-size: 13px;
    color: #000;
    content: '';
    width: 10px;
    height: 10px;
    position: relative;
    transform: rotate(90deg);
    float: right;
}

.subfilter {
    margin-left: 10px;
    padding: 10px;
}

#listing { width: 100%;}
#listing td { padding: 10px 5px;}

#removeFilters {width: 100%;}

.card {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 40, 100, 0.12)
}

.pad_items td {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.pad_items td:first-child {
    padding-left: 0;
}
.pad_items td:nth-child(3) {
    padding-left: 25px;
}

.issues-container .card_body {
    max-height: 400px;
    overflow: auto;
}





