{% block breadcrumbs %}
<ol class="breadcrumb shadow-sm">
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
    <li class="breadcrumb-item active">{{ document.name }}</li>
</ol>
{% endblock %}