{% block navbar %}
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('home') }}">{{ app.user.organisation }}</a>
    <ul class="navbar-nav mr-auto px-3">
        <li class="nav-item">
            <span class="navbar-text username">{{ app.user.username }}</span>
        </li>
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{{ path('logout') }}">Sign out</a>
        </li>
    </ul>
</nav>
{% endblock %}