{% extends 'base.html.twig' %}

{% block body %}
    {% include 'partials/navbar.html.twig' %}

    <div class="container-fluid">
        <div class="content">
            <div class="block-group d-flex">
                <div class="left-block yellow mr-3"></div>
                <div class="right-block d-flex flex-column">
                    {% for building in buildings %}
                        <a href="{{ path('disciplines', {buildingId: building.id}) }}" class="right-sub-block">
                            <span class="d-block font-weight-bold">{{ building.location }}</span>
                            <span class="d-block">{{ building }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        {# Lower block buttons #}
        <div class="block-group d-flex mt-5">
            <div class="left-block yellow mr-3"></div>
            <div class="right-block d-flex flex-column">
                <a href="#" class="right-sub-block font-weight-bold">Archief</a>
                <a href="#" class="right-sub-block font-weight-bold">Projecten</a>
                <a href="#" class="right-sub-block font-weight-bold">Ter goedkeuring</a>
                <a href="#" class="right-sub-block font-weight-bold">Handleiding</a>
            </div>
        </div>

    </div>

{% endblock %}