{% extends 'base.html.twig' %}

{% block body %}
    {% include 'partials/navbar.html.twig' %}

    <div class="container-fluid">
        <ul>
            {% for document in documents %}
                <li>{{ document }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}