{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h1><a href="{{ asset(downloadLink) }}">Klik hier om je bestand te downloaden</a></h1>
    </div>
    <script>
        window.location.href = "{{ downloadLink }}";
    </script>
{% endblock %}
