{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h1 >Je download begint over enkele seconden....</h1>
    </div>
    <script>
        window.close();
    </script>
{% endblock %}
