{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
    {% include 'partials/navbar.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            <div class="topBarContainer d-flex">
                <div class="searchTitle">
                    <h5>Zoektermen <br> toevoegen / verwijderen</h5>
                </div>
                <div class="searchContainer">
                    <div class="searchBarContainer">
                        <input type="text" name="input">
                    </div>
                    <div class="tagContainer">
                        {# Area for tags #}
                    </div>
                </div>
                <button class="AddTagButton">Toevoegen</button>
            </div>
        </div>


        <div class="documentContainer">
            <div class="tileContainer">
                {# Tiles for documents #}
            </div>
            <div class="detailsContainer">
                {# Document details #}
            </div>
        </div>

    </div>



{% endblock %}