{% extends 'base.html.twig' %}

{% block body %}
{% include 'partials/navbar.html.twig' %}

    <div class="container">
        <ol class="breadcrumb shadow-sm bg-white">
            <li class="breadcrumb-item">Home /</li>
        </ol>

        {% for location in locations %}
            <div class="card location">
                <div class="locationImage">
                    {# Image location #}
                </div>
                <div class="locationText">
                    <h4>{{ location.name }}</h4>
                    <hr>
                    <p>Beschrijving</p>
                </div>
            </div>
            <div class="buildingContainer">
                {% for building in location.buildings %}
                    <div class="building">
                        <a href="{{ path('documents', {buildingId: building.id}) }}">
                            {{ building.name }}
                        </a>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}