{% extends 'profile/settings.html.twig' %}

{% block content %}
<div class="card">
    <div class="card_head">
        <h4>Klantrapportage</h4>
    </div>
    <div class="card_body">
        <p>Download een archief bestand met activiteiten van gebruikers over de gespecificeerde periode.</p>
        {{ form(form) }}
    </div>
</div>
{% endblock %}