{% extends 'base.htwml.twig' %}

{% block body %}

    <h1>Document {{ documentName }} is verstuurd voor acceptatie.</h1>

    <p>Deze mail bevestigd het versturen van document: {{ documentName }}. Het document zal worden verwerkt in de database zodra deze is gekeurd.
    U ontvangt een notificatie per mail wanneer het document is gekeurd.
    </p>

{% endblock %}